<ion-view>
	<ion-content>
		<div class="card">
			<div class="about">
				<div class="item item-text-wrap col">
					<h1>
						सुलझन
					</h1>
					<p>
						Adolescence is an age marked by doubts, fears and curiosities. It is to cater to these issues at one place, in one single application, that we present सुलझन. 
						<br><br>
						The following aspects relevant for an adolescent's awareness are covered in the app, under different sections.
						<ul>
							<li>
								<strong>Legal Frameworks</strong> help adolescent girls stay informed on various laws, rights and schemes. It covers the following sub-sections:
								<ul class="sublist">
									<li>Laws and Acts stated in the Constitution of India for safeguarding the rights and responsibilities of adolescent girls.</li>
									<li>This section contains the fundamental rights chartered by the UN for adolescent girls all over the world.</li>
									<li>Recent schemes like SABLA and ASHA initiated by the government of India.</li>
								</ul>
							</li>
							<br>

							<li>
								<strong>Health</strong> informs adolescent girls about the various diseases. It educates them about the
								<ul class="sublist">
									<li><em>Symptoms</em>: How to identify what disease someone has contracted</li>
									<li><em>Causes</em>: What could be the possible reasons for someone being infected by the disease</li>
									<li><em>Treatment</em>: Indicative idea about the correct medications</li>
									<li><em>Preventive</em>: Measures to prevent the disease </li>
								</ul>
							</li>
							<br>


							<li>
								<strong>Hygiene and Sanitation</strong> educate adolescent girls about the importance of immunization, proper sanitation and menstrual health and hygiene.
								<ul class="sublist">
									<li>Menstrual awareness</li>
									<li>Maintaining proper hygiene</li>
									<li>Using a sanitary pad</li>
								</ul>
							</li>
							<br>

							<li>
								<strong>How To</strong> provides basic everyday videos familiarizing adolescents with everyday banking services, Information Technology and basic numeracy.
								<ul class="sublist">
									<li>Opening a savings bank account</li>
									<li>ATM Card and its uses</li>
									<li>Sending out an email</li>
									<li>Registering for a Voter Card or Aadhar card</li>
								</ul>
							</li>
						</ul>
						<br>

						Besides these, the app also has a <em>Test it out</em> section containing short quizzes to measure the adolescent's learning.
						</p>
						<div class="item item-divider">
							<p>सुलझन is an attempt at using IT to help solve real world issues, with our technical skills. For any kinds of feedback or queries, you could write to either of us:</p>
							<ul class="sublist">
								<li><p><strong>Chaitanya</strong>: <em>chaitanya12031@iiitd.ac.in</em></p></li>
								<li><p><strong>Deepali</strong>: <em>deepali12033@iiitd.ac.in</em></p></li>
								<li><p><strong>Katyayani</strong>: <em>katyayani15046@iiitd.ac.in</em></p></li>
							</ul>
						</div>
				</div>
			</div>
	</ion-content>
</ion-view>
