<ion-view view-title="सुलझन">
	<div class="homepage">
	    <ion-content>
	        <ion-list>

	            <ion-item href="#/app/legal">
	                <div class="item item-avatar">
	                    <img ng-src="{{legal.image}}" alt="{{legal.name}}">
	                    <h2>
	                        Legal Frameworks
	                    </h2>
	                    <div class="item item-body" style="border:none; padding:0";>
	                        <p> 
	                            Stay informed about the laws, rights and schemes in place for adolescent girls.
	                        </p>
	                    </div>
	                </div>
	            </ion-item>

	            <ion-item href="#/app/hygieneList">
	                <div class="item item-avatar">
	                    <img ng-src="{{hygiene.image}}" alt="{{hygiene.name}}">
	                    <h2>
	                        Hygiene and Sanitation
	                    </h2>
	                    <div class="item item-body" style="border:none; padding:0";>
	                        <p>
	                            Take a bath, Brush your teeth, feel good from your head to your feet!
	                        </p>
	                    </div>
	                </div>
	            </ion-item>

	            <ion-item href="#/app/diseaseList">
	                <div class="item item-avatar">
	                    <img ng-src="{{health.image}}" alt="{{health.name}}">
	                    <h2>
	                        Health
	                    </h2>
	                    <div class="item item-body" style="border:none; padding:0";>
	                        <p>
	                            For a healthy mind dwells in a healthy body, here are some videos to help you understand the basics of health and well being.
	                        </p>
	                    </div>
	                </div>
	            </ion-item>



	            <ion-item href="#/app/courseList">
	                <div class="item item-avatar">
	                    <img ng-src="{{courses.image}}" alt="{{courses.name}}">
	                    <h2>
	                        How To
	                    </h2>
	                    <div class="item item-body" style="border:none; padding:0";>
	                        <p>
	                            Need to open a bank account, or sign up on Facebook, here are some self-sufficient videos to help you get going.
	                        </p>
	                    </div>
	                </div>
	            </ion-item>

	            <ion-item href="#/app/quizList" >
	                <div class="item item-avatar">
	                    <img ng-src="{{quizzes.image}}" alt="{{quizzes.name}}">
	                    <h2>
	                        Test it out
	                    </h2>
	                    <div class="item item-body" style="border:none; padding:0";>
	                        <p>
	                            Figure out how much you've learnt by participating in some fun quizzes!
	                        </p>
	                    </div>  
	                </div>
	            </ion-item>
	            
	        </ion-list>
	    </ion-content>
	</div>
</ion-view>
