<ion-view>
	<ion-content>
		<ion-list>

			<ion-item href="#/app/lawList">
				<div class="item item-avatar">
					<img ng-src="{{laws.image}}" alt="{{laws.name}}">
					<h2>
						Laws
					</h2>
					<div class="item item-body" style="border:none; padding:0";>
						<p>
							Laws and Acts stated in the Constitution of India for safeguarding the rights and responsibilities of adolescent girls
						</p>
					</div>
				</div>
			</ion-item>

			<ion-item href="#/app/rightList">
				<div class="item item-avatar">
					<img ng-src="{{rights.image}}" alt="{{rights.name}}">
					<h2>
						Rights
					</h2>
					<div class="item item-body" style="border:none; padding:0";>
						<p>
							The Fundamental Rights that you get to exercise as an adolescent girl in India
						</p>
					</div>
				</div>
			</ion-item>

			<ion-item href="#/app/schemeList">
				<div class="item item-avatar">
					<img ng-src="{{schemes.image}}" alt="{{schemes.name}}">
					<h2>
						Schemes
					</h2>
					<div class="item item-body" style="border:none; padding:0";>
						<p>
							The Government of India schemes to aid your progress, as an adolescent girl
						</p>
					</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
